.button,
button {
    white-space: nowrap;
    margin-top: var(--h-space);
    background: var(--color-background-darky);
    color: var(--color-primary);
    border: var(--em-border-size) solid var(--color-primary);
    padding: var(--q-em-space) var(--h-em-space);
    border-radius: var(--border-radius);
    font-size: var(--biggy-font-size);
}

.button:hover,
button:hover {
    color: var(--color-second);
    border-color: var(--color-second);
    background: var(--color-background-dark);
}