:root {
    /******************************************************************************/
    /*                               COLOR PALETTES                               */
    /******************************************************************************/
        --color-resource-energy: hsl(51, 100%, 50%);
    
        --color-warning-light:  hsl(63, 100%, 88%);
        --color-warning:        hsl(64, 82%, 68%);

        --color-success-light:  hsl(120, 100%, 88%);
        --color-success:        hsl(120, 82%, 68%);

        --color-danger-light:  hsl(0, 100%, 82%);
        --color-danger:        hsl(0, 79%, 55%);
    
        --color-primary-lightest : hsl(175, 37%, 95%);
        --color-primary-lighter  : hsl(175, 35%, 85%);
        --color-primary-light    : hsl(175, 34%, 73%);
        --color-primary          : hsl(175, 34%, 63%);
        --color-primary-dark     : hsl(175, 38%, 45%);
        --color-primary-darker   : hsl(175, 38%, 25%);
        --color-primary-darkest  : hsl(175, 38%, 12%);
    
        --color-second-lightest  : hsl(340, 75%, 95%);
        --color-second-lighter   : hsl(340, 50%, 85%);
        --color-second-light     : hsl(340, 56%, 73%);
        --color-second           : hsl(340, 56%, 63%);
        --color-second-dark      : hsl(340, 56%, 45%);
        --color-second-darker    : hsl(340, 56%, 25%);
        --color-second-darkest   : hsl(340, 56%, 12%);
    
        --color-third-lighter    : hsl(240, 50%, 95%);
        --color-third-lighter    : hsl(240, 35%, 80%);
        --color-third-light      : hsl(240, 30%, 70%);
        --color-third            : hsl(240, 28%, 55%);
        --color-third-dark       : hsl(240, 28%, 35%);
        --color-third-darker     : hsl(240, 28%, 25%);
        --color-third-darkest    : hsl(240, 28%, 15%);
    
        --color-background-a90    : hsla(240, 15%, 30%, 0.9);
        --color-background         : hsl(240, 14%, 30%);
        --color-background-dark    : hsl(240, 14%, 20%);
        --color-background-darky   : hsl(240, 13%, 12%);
        --color-background-darker  : hsl(240, 10%, 9%);
        --color-background-darkest : hsl(240, 8%, 6%);
        
        --color-background-darkest-a75 : hsla(240, 12%, 5%, 0.75);
        --color-background-darkest-a90 : hsla(240, 12%, 5%, 0.90);
    
    
        --color-shadow : #151515;
        --color-shadow-a80 : hsla(0, 0%, 8%, 0.8);

        --color-unaffordable: var(--color-danger);
    
    /******************************************************************************/
    /*                                CUSTOM UNITS                                */
    /*                     This is useful for quick fine tuning.                  */
    /*       Dark themes usually require more active space than light ones.       */
    /******************************************************************************/
        --max-font-size   : 2rem;
        --big-font-size   : 1.5rem;
        --1_25x-font-size : 1.25rem;
        --font-size       : 1rem;
        --small-font-size : 0.66rem;
        --min-font-size   : 0.33rem;
    
        --space      : 1rem;
        --h-space    : calc(var(--space) / 2);
        --q-space    : calc(var(--space) / 4);
        --d-space    : calc(var(--space) / 10);
        --x1_5-space : calc(var(--space) * 1.5);
        --x2-space   : calc(var(--space) * 2);
        --x3-space   : calc(var(--space) * 3);
        --x4-space   : calc(var(--space) * 4);
    
        --em-space        : 1em;
        --h-em-space      : calc(var(--em-space) / 2);
        --q-em-space      : calc(var(--em-space) / 4);
        --d-em-space      : calc(var(--em-space) / 10);    
        --x1_5-em-space   : calc(var(--em-space) * 1.5);
        --x2-em-space     : calc(var(--em-space) * 2);
        --x3-em-space     : calc(var(--em-space) * 3);
        --x4-em-space     : calc(var(--em-space) * 4);
    
        --border-size       : 0.1rem;
        --h-border-size     : calc(var(--border-size) / 2);
        --x2-border-size    : calc(var(--border-size) * 2);
        --em-border-size    : 0.1em;
        --h-em-border-size  : calc(var(--em-border-size) / 2);
        --x2-em-border-size : calc(var(--em-border-size) * 2);
    
        --border-radius     : 0.25rem;
        --h-border-radius   : calc(var(--border-radius) / 2); 
        --x2--border-radius : calc(var(--border-radius) * 2);
            
    
    /******************************************************************************/
    /*                               COLOR SELECTION                              */
    /******************************************************************************/
        --color-font-primary  : var(--color-primary-lighter);
    
    
    
    /******************************************************************************/
    /*                                  ELEMENTS                                  */
    /******************************************************************************/
        /* TABLES */
        --table-bg-odd-row  : var(--color-background-darky);
        --table-bg-even-row : var(--color-background-dark);
        --table-border-style : solid;
        --table-border-color : var(--color-third-light);
        
        --table-bg-header          : var(--color-background-darkest);
        --table-bg-odd-row-header  : var(--color-background-darkest);
        --table-bg-even-row-header : var(--color-background-darkest-a75);
    
    /******************************************************************************/
    /*                                   UTILS                                    */
    /******************************************************************************/
        --default-box-shadow: 0.15rem 0.15rem 0 var(--color-shadow);
        --default-img-shadow: 0.5rem 0.5rem 0.1rem var(--color-shadow-a80);
        --default-inset-box-shadow: inset 0.15rem 0.15rem 0 var(--color-shadow);
    
    }
    